/* Set THE COLOR THEME FOR PROJECT */
:root {
    --cl-teal-blue: hsl(193, 100%, 45%);
    --cl-blue-grey: hsl(206, 25%, 58%);
    --cl-dark-night: hsl(207, 25%, 23%);
}

.color-primary {
    color: var(--cl-teal-blue);
}
.color-blue-grey {
    color: var(--cl-blue-grey);
}
.color-dark-night {
    color: var(--cl-dark-night);
}

/* Apply CSS RESET */

/* Apply RESPONSIVE DESIGN STYLING */
/* Make Media content Responsive */
img, embed,
object, video, picture {
    max-width: 100%
}
/* Make buttons, nav and links accessible on smaller screens */
button, a, nav {
    min-width: 48px;
    min-height: 48px;/* Set THE COLOR THEME FOR PROJECT */
}

/* Laying THINGS OUT */
.main-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "nav-content"
        "main-content"
        "featured-content";
}
.work-section, .nav-content {
    display: flex;
    flex-wrap: wrap;
}

.content:nth-child(1) {
    grid-area: nav-content;
    justify-content: space-between;
}

.content:nth-child(2) {
    grid-area: main-content;
}
.content:nth-child(3) {
    grid-area: featured-content;
    justify-content: space-evenly;
}

.logo-img {
    width: 102px;
    height: 102px;
    border-radius: 3rem;
}

@media screen and (min-width: 351px) {
    .sub-title {
        text-align: end;
    }
}

.featured {
    width: 100%;
}

.featured-work-1, .featured-work-2, .featured-work-3 {
    width: 100%;
}

.port-img {
    display: block;
}

@media screen and (min-width: 768px) {
    .featured-work-1, .featured-work-2, .featured-work-3 {
        width: 33%;
    }
}